@import "tailwindcss";

@theme {
    /* Custom Colors */
    --color-widget-bg: #363C43;
    --color-tab-active: #28292F;
    --color-help-icon: #171717;
    --color-text-secondary: #A3ADB2;
    --color-text-muted: #969696;

    /* Custom Shadows */
    --shadow-widget: 5.67px 5.67px 3.78px 0px rgba(0, 0, 0, 0.40);
    --shadow-tab-active: inset 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
    --shadow-help: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    --shadow-nav-button: 4px 5px 30px 5px rgba(16, 18, 19, 0.50), -5px -3px 30px -10px rgba(150, 190, 231, 1);
    --shadow-add-image: inset 0px 3.26px 3.26px 0px rgba(255, 255, 255, 0.15), inset 0px 0px 48.91px 0px rgba(255, 255, 255, 0.05), 9px 10px 7.1px 0px rgba(0, 0, 0, 0.40), -0.5px -0.5px 6.9px 0px rgba(255, 255, 255, 0.25);

    /* Font Family */
    --font-family-base: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

body {
    font-family: var(--font-family-base);
    background: linear-gradient(180deg, #373E44 0%, #191B1F 100%);
    min-height: 100vh;
}